
body {
    font-family: "Quicksand", sans-serif;
    background-color: black;
    min-height: 100vh;
    overflow-x: hidden;
}
/*banner*/
.top {
    background-image: url(../images/1.jpg);
    opacity: 75%;
    padding: 497px 490px;
    background-size: cover;
    filter: blur(5px);
}

.content h1 {
    position: absolute;
    width: 778px;
    height: 12%;
    left: 25%;
    top: 40%;
    font-family: 'Anton';
    font-style: normal;
    font-weight: 400;
    font-size: 600%;
    line-height: 145px;
    text-transform: uppercase;
    color: #FEF8F0;
}

.content h3 {
    position: absolute;
    width: 634px;
    height: 7%;
    left: 28%;
    top: 52%;
    font-family: 'Dancing Script';
    font-style: normal;
    font-weight: 400;
    font-size: 300%;
    line-height: 58px;
    text-transform: capitalize;
    color: #F9B75D;
}

/*endbanner*/
/*essen*/
.content-food {
    background-color: #050505;
    padding: 49px 828px;
    font-family: 'Abel';
    font-style: normal;
    text-decoration-line: underline;
    text-transform: uppercase;

    color: #FFFFFF;
}

/*endessen*/
/*foodpic*/
.food-pic {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #1E1E1E;
}

img {
    width: 520px;
    height: 350px;
    margin-left: 78px;
    border-radius: 40px;
    border: solid white 3px;
}

/*endfoodpic*/
/*black*/
.more-info {
    background-color: #050505;
    padding: 49px 400px;
    font-family: 'Abel';
    font-style: normal;
    text-decoration-line: underline;
    text-transform: uppercase;
    color: #FFFFFF;
}

#kon {
    position: absolute;
    text-decoration-line: underline;
    width: 305px;
    height: 61px;
    left: 1235px;
    top: 1745px;
}

.about-us {
    background-color: #1E1E1E;
    padding-right: 250px;
    padding-left: 250px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.about-us1 {
    background-color: white;
    padding: 30px;
    width: 700px;

}

.about-us1 .about-us-content {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
    letter-spacing: 0.1em;
    text-transform: capitalize;
    opacity: 0.8;
}

.about-us1 .about-us-content h1 {
    font-family: 'Abel';
    text-transform: uppercase;
    text-decoration-line: underline;
}

.contect-us {
    background-color: white;
    padding: 30px;
    padding-bottom: 23px;
    width: 700px;
}

.contect-us .contact-us-content {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
    letter-spacing: 0.1em;
    text-transform: capitalize;
    opacity: 0.8;
}

.contect-us .contact-us-content ul {
    list-style-type: none;
    color: green;
    opacity: 0.8;
}

.contect-us .contact-us-content ul li {
    margin-top: 10px;
}

.contect-us .contact-us-content ul li i {
    font-size: 30px;
    margin-right: 5px;
}

.contect-us .contact-us-content ul .push {
    margin-left: 41px;
}

.contect-us .contact-us-content ul .call {
    text-decoration: underline;
}

.contect-us .contact-us-content ul .call:hover {
    opacity: 0.5;
}

.contect-us .contact-us-content h2 {
    font-family: 'Pacifico';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 112px;
    text-transform: capitalize;
    color: #000000;
}
.contect-us .contact-us-content h1{
        font-family: 'Abel';
    text-transform: uppercase;
    text-decoration-line: underline;
}
/*endblack*/
@media (max-width: 1000px)
{
    
       .content h1 {
    width: 520px;
    height: 5%;
    left: 23%;
    top: 400px;
    font-size: 400%;
    line-height: 145px;
}

    .content h3 {
    width: 440px;
    height: 3%;
    left: 27%;
    top: 500px;
    font-family: 'Dancing Script';
    font-style: normal;
    font-weight: 400;
    font-size: 200%;
    line-height: 58px;
}
    .content-food {
    padding: 20px 380px;
    
    }
    
    b {
        text-decoration: none;
    }
    
    
    .food-pic {
    padding-top: 50px;
    padding-bottom: 0px;
    background-color: #1E1E1E;
}

img {
    width: 600px;
    height: 350px;
    margin-left: 190px;
    margin-right: 190px;
    margin-bottom: 50px;
    border-radius: 40px;
    border: solid white 3px;
}

    #kon {
    width: 305px;
    height: 61px;
    left: 600px;
    top: 2420px;
}

    .more-info {
    padding: 49px 170px;
    font-family: 'Abel';
    font-style: normal;
    text-decoration-line: underline;
    text-transform: uppercase;
    color: #FFFFFF;
}
    .about-us {
    background-color: #1E1E1E;
    padding-right: 150px;
    padding-left: 140px;
    padding-top: 80px;
    padding-bottom: 100px;
}
.about-us1 {
    background-color: white;
    padding: 30px;
    width: 700px;

}
    #essen {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    
.about-us1 .about-us-content {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
    letter-spacing: 0.1em;
    text-transform: capitalize;
    opacity: 0.8
}

    .contect-us {
    background-color: white;
    padding: 30px;
    padding-bottom: 23px;
    width: 700px;
}

.contect-us .contact-us-content {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
    letter-spacing: 0.1em;
    text-transform: capitalize;
    opacity: 0.8
}

.contect-us .contact-us-content ul {
    list-style-type: none;
    color: green;
    opacity: 0.8;
}
}



@media (min-width: 1024px)
{
.top{
      padding: 480px 1024px;
    }
    .content h1 {
    position: absolute;
    width: 778px;
    height: 12%;
    left: 60%;
    top: 30%;
    }
    .content h3 {
        position: absolute;
        width: 634px;
        height: 7%;
        left: 65%;
        top: 43%;
    }
    .content-food{
        padding: 49px 1024px;
    }
    .content-food h1{
        width: 250px;
        position: relative;
        right: 110px;
    }
    .food-pic{
        padding-left: 110px;
        width: 2050px;
    }
    img{
        margin-left: 60px;

    }
    .more-info{
        width: 2050px;
       
    }
    #kon{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0px;
    top: 1700px;
    }
        .about-us {
   width: 2050px
}
}


@media (min-width: 1440px){
    .top{
      padding: 500px 1100px;
    }
        .content h1 {
    position: absolute;
    width: 778px;
    height: 12%;
    left: 55%;
    top: 45%;
    }
    .content h3 {
        position: absolute;
        width: 634px;
        height: 7%;
        left: 59%;
        top: 58%;
    }
     .content-food{
        padding: 49px 1100px;
    }
    .content-food h1{
        width: 250px;
        position: relative;
        right: 40px;
    }
     .food-pic{
        width: 2200px;
    }
    img{
        margin-left:110px
    }
    .more-info{
        width: 2200px;
    }
    .more-info h1{
        margin-left: 150px
    }
     #kon{
    left: 1335px;
    top: 1738px;
    }
    .about-us {
     width: 2200px;
    margin-right: 40;
    padding-bottom: 850px

    }
    .about-us1{
        position: absolute;
        right: 400px
    }
    .contect-us{
        position: absolute;
        left: 1300px;
    }
 
}

@media(min-width: 1920px){
  
    .content h1 {
    position: absolute;
    width: 778px;
    height: 12%;
    left: 30%;
    top: 40%;
    font-family: 'Anton';
    font-style: normal;
    font-weight: 400;
    font-size: 600%;
    line-height: 145px;
    text-transform: uppercase;
    color: #FEF8F0;
}

.content h3 {
    position: absolute;
    width: 634px;
    height: 7%;
    left: 33%;
    top: 52%;
    font-family: 'Dancing Script';
    font-style: normal;
    font-weight: 400;
    font-size: 300%;
    line-height: 58px;
    text-transform: capitalize;
    color: #F9B75D;
}

/*endbanner*/
/*essen*/
.content-food {
    background-color: #050505;
    padding: 49px 828px;
    font-family: 'Abel';
    font-style: normal;
    text-decoration-line: underline;
    text-transform: uppercase;

    color: #FFFFFF;
}

/*endessen*/
/*foodpic*/
.food-pic {
    
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #1E1E1E;
}

img {
    width: 520px;
    height: 350px;
    margin-left: 20px;
    border-radius: 40px;
    border: solid white 3px;
}

/*endfoodpic*/
/*black*/
.more-info {
    background-color: #050505;
    padding: 49px 400px;
    font-family: 'Abel';
    font-style: normal;
    text-decoration-line: underline;
    text-transform: uppercase;
    color: #FFFFFF;
    
}
    .more-info h1 {
        margin-left: 20px;
    }

#kon {
    position: absolute;
    text-decoration-line: underline;
    width: 305px;
    height: 61px;
    left: 1235px;
    top: 1745px;
}

.about-us {
    background-color: #1E1E1E;
    padding-right: 250px;
    padding-left: 250px;
    padding-top: 100px;
    padding-bottom: 100px;
    
}

.about-us1 {
    background-color: white;
    padding: 30px;
    width: 700px;
    position: relative;
    right: 150px;

}

.about-us1 .about-us-content {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
    letter-spacing: 0.1em;
    text-transform: capitalize;
    opacity: 0.8;
}

.about-us1 .about-us-content h1 {
    font-family: 'Abel';
    text-transform: uppercase;
    text-decoration-line: underline;
}

.contect-us {
    background-color: white;
    padding: 30px;
    padding-bottom: 23px;
    width: 700px;
    position: relative;
    left: -20px;
}

.contect-us .contact-us-content {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
    letter-spacing: 0.1em;
    text-transform: capitalize;
    opacity: 0.8;
}

.contect-us .contact-us-content ul {
    list-style-type: none;
    color: green;
    opacity: 0.8;
}

.contect-us .contact-us-content ul li {
    margin-top: 10px;
}

.contect-us .contact-us-content ul li i {
    font-size: 30px;
    margin-right: 5px;
}

.contect-us .contact-us-content ul .push {
    margin-left: 41px;
}

.contect-us .contact-us-content ul .call {
    text-decoration: underline;
}

.contect-us .contact-us-content ul .call:hover {
    opacity: 0.5;
}

.contect-us .contact-us-content h2 {
    font-family: 'Pacifico';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 112px;
    text-transform: capitalize;
    color: #000000;
}
.contect-us .contact-us-content h1{
        font-family: 'Abel';
    text-transform: uppercase;
    text-decoration-line: underline;
}


@media (min-width: 2560px)
{
    .top{
      padding: 480px 300px;
    }
    .content h1 {
    position: absolute;
    width: 778px;
    height: 12%;
    left:36%;
    top: 30%;
    }
    .content h3 {
        position: absolute;
        width: 634px;
        height: 7%;
        left: 38%;
        top: 39%;
    }
    .content-food{
        padding: 49px 1100px;
        display: flex;
        justify-content: center
    }
    .content-food h1{
        width: 250px;
        position: relative;
        left: 0px;
    }
    .food-pic{
        width: 2560px
    }
    img{
        margin-left: 190px
    }
    .more-info{
        padding-left: 600px;
        padding-right: 1960px;
        
    }
    .more-info h1{
        margin-left: 0px;
        width: 200px;
    }
    #kon{
    left: 1575px;
    top: 1705px;
    }
    .about-us {
        width: 2560px;
        padding-bottom: 800px;
        
    }
    .about-us1{
        position: absolute;
        right: 1500px;
    }
    .contect-us{
        position: absolute;
        left: 1400px;
    }
}
}









